{% extends "base.html" %}
{% block content %}
<br>
<div class="my-8 flex justify-center">
    <button class="bg-blue-500 text-white font-bold py-2 px-4 rounded">
        <a href="/add-note/">Create note</a>
    </button>
</div>


<!-- box -->

<div class="mx-auto w-full max-w-md p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
    <div class="flex items-center justify-between mb-4">
        <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white">Latest Notes</h5>
        
   </div>
   <div class="flow-root">
        <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
            {% for note in notes  %}
            <li class="py-3 sm:py-4">
                <div class="flex items-center space-x-4">
                    
                    <div class="flex-1 min-w-0">
                        <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                            {{note.title}}
                        </p>
                        <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                            {{ date }}
                        </p>
                    </div>
                    <div  class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                        <button onclick= "window.location.href = '/notes/{{note.id}}';" class="bg-blue-500 text-white font-bold py-1 px-4 rounded">
                            <a href="/notes/{{note.id}}">open</a>
                        </button>
                    </div>
                </div>
            </li>
                
            {% endfor %}
            
            
        </ul>
   </div>
</div>

{% endblock content %}